<div>
    <form>
        <div class="grid">
            <!-- <input id="event" name="event" type="text" placeholder="Event"> -->
            <select id="event " name="event">
                <option value="" disabled selected>Event</option>
                <option value="INPUT">INPUT</option>
                <option value="PRODUCTION">PRODUCTION</option>
            </select>
            <input id="username" name="username" type="text" placeholder="Username">

            <button hx-trigger="click" hx-target="#transactions" hx-indicator="#spinner" hx-get="/transaction-data"
                hx-include="[name='event'], [name='username']">
                Search</button>
        </div>
        <div class="center">
            <img id="spinner" class="htmx-indicator" src="/img/rings.svg"></img>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Event</th>
                <th>Actor</th>
            </tr>
        </thead>
        <tbody id="transactions" hx-trigger="load" hx-get="/transaction-data" hx-indicator="#spinner"></tbody>
    </table>
</div>