<nav>
    <ul>
        <li><strong>
                <%= title %>
            </strong></li>
    </ul>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Product</a></li>
        <li>
            <details role="list">
                <summary id="user-name" aria-haspopup="listbox">
                </summary>
                <ul role="listbox">
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    <li hx-on:click="logout()">Logout</li>
                </ul>
            </details>
        </li>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setUsername();
        });
    </script>
</nav>