<button id="getHistoryBtn" hx-trigger="click" hx-get="http://localhost:3000/api/warehouse/"
    hx-target="#historyContainer" hx-swap="innerHTML"> Get History</button>
<div id="historyContainer"></div>