<% if (user.level=='GUEST' ) { %>
    <div class="grid">
        <article>
            <h2>Product</h2>
            <div><a href="/product"><button>Products</button></a></div>
        </article>
        <article>
            <h2>Warehouse</h2>
            <div><a href="/warehouse"><button>Warehouse</button></a></div>
        </article>
        <article>
            <h2>Event</h2>
            <div><a href="/transaction"><button>Transaction</button></a></div>
        </article>
        <article>
            <h2>Inventory</h2>
            <div><a href="/inventory"><button>Inventory</button></a></div>
        </article>
    </div>
    <% } else if (user.level=='STAFF' ) { %>
        <div class="grid">
            <article>
                <h2>Product</h2>
                <div><a href="/product"><button>Products</button></a></div>
            </article>
            <article>
                <h2>Warehouse</h2>
                <div><a href="/warehouse"><button>Warehouse</button></a></div>
            </article>
            <article>
                <h2>Event</h2>
                <div><a href="/transaction"><button>Transaction</button></a></div>
                <div><a href="/add-stock"><button>Add Stock</button></a></div>
                <div><a href="/production"><button>Production</button></a></div>
            </article>
            <article>
                <h2>Inventory</h2>
                <div><a href="/inventory"><button>Inventory</button></a></div>
            </article>
        </div>
        <% } else {%>
            <% } %>