.reset {
    margin: 0;
}

.relative {
    position: relative;
}

.center {
    text-align: center;
}

.center-v {
    position: absolute;
    text-align: center;
    top: 50%;
}

.ruby {
    color: red;
    font-weight: bold;
}

.link {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.link:hover {
    opacity: 0.5;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-request.htmx-indicator {
    opacity: 1;
}