.reset {
    margin: 0;
}

.relative {
    position: relative;
}

.center-v {
    position: absolute;
    text-align: center;
    top: 50%;
}

.link {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.link:hover {
    opacity: 0.5;
}

.htmx-indicator {
    display: none;
}

.htmx-request .my-indicator {
    display: inline;
}

.htmx-request.my-indicator {
    display: inline;
}