<div>
    <form id="jsonForm">
        <input type="hidden" id="event" name="event" value="INPUT">

        <div id="inventoryFields">
            <article class="inventory-item reset">
                <input type="text" name="product[]" placeholder="Product" required>
                <input type="text" name="warehouse[]" placeholder="Warehouse" required>
                <input type="number" name="quantity[]" min="1" placeholder="Quantity" required>

                <button type="button" onclick="removeItem(this)" class="secondary">Remove Item</button>
            </article>
        </div>

        <div class="grid">
            <button type="button" id="addInventoryItem"><strong>+</strong> Another Item</button>
            <input type="submit" value="Submit">
        </div>
    </form>

    <div id="result"></div>

    <script src="/js/add-stock.js"></script>
</div>