<div>
    <form id="jsonForm" action="/api/transaction" method="POST">
        <input type="hidden" id="event" name="event" value="PRODUCTION">

        <article>
            <h3 class="reset">Product</h3>
            <article class="inventory-item reset">
                <select name="product[]" required hx-post="/production-form" hx-target="#materialField"
                    hx-trigger="change">
                    <option value="" disabled selected>Product</option>

                    <% products.forEach(productName=> { %>
                        <option value="<%= productName %>">
                            <%= productName %>
                        </option>
                        <% }) %>
                </select>
                <select name="warehouse[]" required>
                    <option value="" disabled selected>Warehouse</option>
                    <% warehouses.forEach(w=> { %>
                        <option value="<%= w.location %>">
                            <%= w.location %>
                        </option>
                        <% }) %>
                </select>
                <input type="number" id="product-quantity" name="quantity[]" min="1" value="1"
                    oninput="validateQInput(this);updateNeedsUI();validateQuantityAll()" required>
            </article>
        </article>

        <div id="materialField"></div>

        <input type="submit" value="Submit">
    </form>

    <div id="result"></div>

    <script src="/js/production.min.js"></script>
</div>