<div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates nostrum asperiores suscipit quibusdam fugit
        exercitationem? Iste praesentium quis iusto tenetur accusantium excepturi fuga numquam, aliquid, a ducimus
        dolorem necessitatibus cum.</p>
</div>